# Ігнорувати файли збірки та файли байткоду Python
__pycache__/
*.pyc

# Ігнорувати файли середовища віртуального середовища Python
venv/
env/

# Ігнорувати файли та каталоги збірки
build/
dist/
*.egg-info/
*.egg

# Ігнорувати файли для локальних налаштувань
settings_local.py

# Ігнорувати файли журналу та файли збереження пакетів
*.log
*.log.*
pip-selfcheck.json

# Інші файли та каталоги, які потрібно ігнорувати
my_secret_key

# Ігнорувати файли збереження редактора
.idea/
.vscode/

# Ігнорувати папку із даними
data/
*.tsv
*.gz
